[Desktop Entry]
Name=Ruins of Eternal Struggle
GenericName=Post-apocalyptic survival game
Comment=A turn-based survival game set in a post-apocalyptic world.
Icon=com.cataclysm-tlg.cataclysm-tlg
Type=Application
Exec=ruins-of-eternal-struggle-tiles
Categories=Game;RolePlaying;
Keywords=zombie;survival;game;tiles;ruins;eternal;struggle;
Terminal=false
